{include file="$include_tpl/includes/head.html"}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
      <a href="{$adminweburl}"><b>Ujian </b>Online</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <!-- div class="text-center">
      <img src="{$tpl_dir}/dist/img/logo.png" height="200px" /><br /><br />
    </div -->
      
    <div class="alert alert-danger {if $loginusers.error|@count eq 0}hide{/if}">
      {foreach $loginusers.error as $entry}     
        <span>{$entry}<br /></span>
      {/foreach}
    </div>
      
    <p class="login-box-msg">Isi username dan password untuk masuk.</p>

    <form class="login-form" action="login.php" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <a href="#">Saya lupa password.</a>
            <!-- label>
              <input type="checkbox"> Remember Me
            </label -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div -->
    <!-- /.social-auth-links -->

    <!-- a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="{$tpl_dir}/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$tpl_dir}/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="{$tpl_dir}/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
